form {
  width: 50vw;
  height: 40%;
  background-image: linear-gradient(to bottom, #ffcd70, #4d77ff);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 480px) {
  form {
    width: 80vw;
  }
}

label {
  align-self: flex-start;
  padding: 10px 0px;
}

textarea {
  align-self: center;
  width: 95%;
  height: 4rem;
  border-radius: 5px;
  border: 2px solid grey;
  font-size: 1rem;
  resize: vertical;
  max-height: 20rem;
  color: #060606aa;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px;
}

textarea:focus {
  outline-color: #4d77ff;
}

.btn-container {
  padding: 10px 0px;
  display: flex;
  justify-content: space-around;
  gap: 30px;
}

.btn-Todo {
  width: 80%;
  height: 2rem;
  border: none;
  border-radius: 3px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  background: #dde6ed;
  color: rgba(0, 0, 0, 0.447);
}

.btn-add:hover {
  border: 2px solid #4d77ff;
  border-radius: 3px;
  color: rgba(0, 0, 0, 0.447);
}

.btn-add:hover {
  border: 2px solid #4d77ff;
  border-radius: 3px;
  color: rgba(0, 0, 0, 0.8);
}

.btn-cancel:hover {
  border: 2px solid rgba(245, 25, 25, 0.826);
  border-radius: 3px;
  color: rgba(0, 0, 0, 0.8);
}
